Question 1 : Explain the fundamental differences between DDL, DML, and DQL
commands in SQL. Provide one example for each type of command.

=> DDL – Data Definition Language

Purpose:
Used to define or modify the structure of a database (like tables, schemas, or indexes).

Key Points:

Affects the schema (structure) of the database.

Automatically commits (cannot be rolled back).

=> DML – Data Manipulation Language

Purpose:
Used to manipulate or modify data stored in database tables.

Key Points:

Deals with the actual data (not structure).

Can be rolled back (transactional).

=> DQL – Data Query Language

Purpose:
Used to fetch or query data from database tables.

Key Points:

Does not change the structure or data.

Used mainly for retrieving data.

Question 2 : What is the purpose of SQL constraints? Name and describe three common types
of constraints, providing a simple scenario where each would be useful.

=> Constraints ensure that the data in the database remains reliable, consistent, and meaningful.

Question 3 : Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page
has 10 records?

=> LIMIT Clause
 It tells the database how many records to display.

=> OFFSET Clause

It tells the database from where to start showing results.

Question 4 : What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage

=. WITH RECURSIVE EmployeeHierarchy AS (
    SELECT EmpID, Name, ManagerID
    FROM Employees
    WHERE ManagerID IS NULL  -- Top level
    UNION ALL
    SELECT e.EmpID, e.Name, e.ManagerID
    FROM Employees e
    INNER JOIN EmployeeHierarchy eh
    ON e.ManagerID = eh.EmpID
)
SELECT * FROM EmployeeHierarchy;

Question 5 : Describe the concept of SQL Normalization and its primary goals. Briefly
explain the first three normal forms (1NF, 2NF, 3NF).

=> 1NF	Atomic values, no repeating groups	Eliminate repeating data
=> 2NF	1NF + no partial dependency	Remove dependency on part of a key
=> 3NF	2NF + no transitive dependency	Remove indirect dependencies

Question 7 : Generate a report showing CustomerName, Email, and the
TotalNumberofOrders for each customer. Include customers who have not placed
any orders, in which case their TotalNumberofOrders should be 0. Order the results
by CustomerName.

=> SELECT
    c.CustomerName,
    c.Email,
    COUNT(o.OrderID) AS TotalNumberOfOrders
FROM
    Customers c
LEFT JOIN
    Orders o
ON
    c.CustomerID = o.CustomerID
GROUP BY
    c.CustomerID, c.CustomerName, c.Email
ORDER BY
    c.CustomerName;

Question 8 : Retrieve Product Information with Category: Write a SQL query to
display the ProductName, Price, StockQuantity, and CategoryName for all
products. Order the results by CategoryName and then ProductName alphabetically.

=> SELECT
    p.ProductName,
    p.Price,
    p.StockQuantity,
    c.CategoryName
FROM
    Products p
INNER JOIN
    Categories c
ON
    p.CategoryID = c.CategoryID
ORDER BY
    c.CategoryName ASC,
    p.ProductName ASC;

Question 9 : Write a SQL query that uses a Common Table Expression (CTE) and a
Window Function (specifically ROW_NUMBER() or RANK()) to display the
CategoryName, ProductName, and Price for the top 2 most expensive products in
each CategoryName.

WITH RankedProducts AS (
    SELECT
        c.CategoryName,
        p.ProductName,
        p.Price,
        ROW_NUMBER() OVER (
            PARTITION BY c.CategoryName
            ORDER BY p.Price DESC
        ) AS RankPosition
    FROM
        Products p
    INNER JOIN
        Categories c
    ON
        p.CategoryID = c.CategoryID
)
SELECT
    CategoryName,
    ProductName,
    Price
FROM
    RankedProducts
WHERE
    RankPosition <= 2
ORDER BY
    CategoryName,
    Price DESC;

Question 10 : You are hired as a data analyst by Sakila Video Rentals, a global movie
rental company. The management team is looking to improve decision-making by
analyzing existing customer, rental, and inventory data.
Using the Sakila database, answer the following business questions to support key strategic
initiatives.
Tasks & Questions:
1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
name, email, and total amount spent.
2. Which 3 movie categories have the highest rental counts? Display the category name
and number of times movies from that category were rented.
3. Calculate how many films are available at each store and how many of those have
never been rented.
4. Show the total revenue per month for the year 2023 to analyze business seasonality.
5. Identify customers who have rented more than 10 times in the last 6 months.

=> SELECT
    c.first_name AS FirstName,
    c.last_name AS LastName,
    c.email,
    SUM(p.amount) AS TotalAmountSpent
FROM
    customer c
JOIN
    payment p ON c.customer_id = p.customer_id
GROUP BY
    c.customer_id, c.first_name, c.last_name, c.email
ORDER BY
    TotalAmountSpent DESC
LIMIT 5;


SELECT
    cat.name AS CategoryName,
    COUNT(r.rental_id) AS TotalRentals
FROM
    category cat
JOIN
    film_category fc ON cat.category_id = fc.category_id
JOIN
    inventory i ON fc.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
GROUP BY
    cat.name
ORDER BY
    TotalRentals DESC
LIMIT 3;



SELECT
    s.store_id,
    COUNT(DISTINCT i.inventory_id) AS TotalFilms,
    COUNT(DISTINCT i.inventory_id)
        - COUNT(DISTINCT r.inventory_id) AS NeverRentedFilms
FROM
    store s
JOIN
    inventory i ON s.store_id = i.store_id
LEFT JOIN
    rental r ON i.inventory_id = r.inventory_id
GROUP BY
    s.store_id;



SELECT
    DATE_FORMAT(p.payment_date, '%Y-%m') AS Month,
    SUM(p.amount) AS TotalRevenue
FROM
    payment p
WHERE
    YEAR(p.payment_date) = 2023
GROUP BY
    DATE_FORMAT(p.payment_date, '%Y-%m')
ORDER BY
    Month;




SELECT
    c.customer_id,
    CONCAT(c.first_name, ' ', c.last_name) AS CustomerName,
    COUNT(r.rental_id) AS TotalRentals
FROM
    customer c
JOIN
    rental r ON c.customer_id = r.customer_id
WHERE
    r.rental_date >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
GROUP BY
    c.customer_id, c.first_name, c.last_name
HAVING
    COUNT(r.rental_id) > 10
ORDER BY
    TotalRentals DESC;